save-exact=true
engine-strict=true
ignore-scripts=true

# Workspace options
prefer-dedupe=true
include=prod
include=dev
include=optional
include=peer
if-present=true

## Fix timeout errors in CI
fetch-retries=15
