body {
  background-color: var(--v-background-base);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* W3C standard scrollbars (Firefox-only for now) */
  scrollbar-width: thin;
  scrollbar-color: var(--v-thumb-lighten5) var(--v-card-base);
}

/* Reproduce something similar on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--v-card-base);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--v-thumb-lighten5);
  border-radius: 20px;
  border: 3px solid var(--v-card-base);
}

.nuxt-progress {
  /* Override the color with the dynamic color from Vuetify */
  background-color: var(--v-primary-base);
}

/* Vuetify overrides */

.v-app-bar.v-app-bar--fixed {
  z-index: 100 !important;
}

// fixes cropped text in some situations
// there are still issues with line height so this might be deprecated at some point
// https://github.com/vuetifyjs/vuetify/issues/6488
// https://github.com/vuetifyjs/vuetify/issues/4655
.text-truncate {
  line-height: normal !important;
}

// retain-focus-on-click property is incompatible with NaN so we disable it manually
// might want to enable this for all v-btn elements in the future
// https://github.com/vuetifyjs/vuetify/issues/8436
// https://vuetifyjs.com/en/api/v-btn/#retain-focus-on-click
// https://stackoverflow.com/questions/57830767/57831256
.active-button:focus::before {
  opacity: 0 !important;
}

.v-navigation-drawer--fixed,
.v-footer--fixed {
  z-index: 100 !important;
}

// It's important for this to be after the rule for .v-navigation-drawer--fixed
.v-navigation-drawer--temporary {
  z-index: 105 !important;
}

.v-data-table tr {
  transition: 0.2s !important;
}

/* Custom utility classes */

.absolute-cover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hide-pointer {
  cursor: none;
}

.pointer {
  cursor: pointer;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-all {
  pointer-events: all;
}

.link {
  cursor: pointer;
  color: inherit !important;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.flex-0 {
  flex: 0;
}

.pa-s {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.pt-s {
  padding-top: env(safe-area-inset-top);
}

.pl-s {
  padding-left: env(safe-area-inset-left);
}

.pr-s {
  padding-right: env(safe-area-inset-right);
}

.pb-s {
  padding-bottom: env(safe-area-inset-bottom);
}

/* Customized Vuetify components */
.v-menu__content .v-list {
  background: map-get($material-light, 'cards') !important;
}

.theme--dark .v-menu__content .v-list {
  background: map-get($material-dark, 'menus') !important;
}

.text-capitalize-first-letter::first-letter {
  text-transform: uppercase;
}

.overflow-hidden {
  overflow: hidden;
}
