.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.25s;
}

.page-enter,
.page-leave-to,
.layout-enter,
.layout-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
  transition: opacity 0.25s;
}

.fade-enter,
.fade-leave-to,
.fade-fast-enter,
.fade-fast-leave-to {
  opacity: 0;
}
