// Global and theme variables can be found in the source and docs
// https://github.com/vuetifyjs/vuetify/tree/master/packages/vuetify/src/styles/settings
// https://vuetifyjs.com/en/api/vuetify/#sass-variables
//
// Each element has unique layout variables within its own SCSS files
// https://github.com/vuetifyjs/vuetify/tree/master/packages/vuetify/src/components
//
// The variables you want to modify
// $font-size-root: 20px;

// Globals
$heading-font-family: 'Noto Sans', 'Noto Sans HK', 'Noto Sans JP',
  'Noto Sans KR', 'Noto Sans SC', sans-serif !default;
$body-font-family: $heading-font-family;

$font-size-root: 14px;
$input-font-size: 14px;
$btn-font-weight: 500;
$expansion-panel-content-padding: 0;
$data-table-border-radius: 0;

$material-light: (
  'background': #f2f2f2,
  'chip': '#e4e4e4',
  'menus': '#bbb'
);

// Table hover is primary text plus 0.08 opacity
// Lists use the ::before selector to apply hover backgrounds
// This is not available on tables so it has to be manual
$material-dark: (
  'background': #121721,
  'navigation-drawer': #1c2331,
  'app-bar': #1c2331,
  'dividers': #233543,
  'cards': #1c2331,
  'chips': #2b4355,
  'menus': #252e41,
  'text': (
    'primary': #edf2f7
  ),
  'table': (
    'hover': #edf2f715
  )
);
