* {
  font-family: var(--j-font-family), sans-serif, system-ui !important;
  backface-visibility: hidden;
}

html {
  overscroll-behavior: none;
}

html.no-forced-scrollbar {
  overflow-y: unset !important;
}

/* Custom utility classes */

.link {
  cursor: pointer;
  color: inherit !important;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.pa-s {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.pt-s {
  padding-top: env(safe-area-inset-top);
}

.pl-s {
  padding-left: env(safe-area-inset-left);
}

.pr-s {
  padding-right: env(safe-area-inset-right);
}

.pb-s {
  padding-bottom: env(safe-area-inset-bottom);
}

.text-capitalize-first-letter::first-letter {
  text-transform: uppercase;
}
