.j-splash {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.j-splash > img {
  min-width: 30% !important;
  min-height: 30% !important;
  width: 30% !important;
  height: 30% !important;
  object-fit: contain;
}

.j-splash.light {
  background-color: #f2f2f2 !important;
}

.j-splash.dark {
  background-color: #111827 !important;
}
