.j-splash {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--j-theme-color-background);
  cursor: wait !important;
}

.j-splash > img {
  min-width: 30%;
  min-height: 30%;
  width: 30%;
  height: 30%;
  object-fit: contain;
}
